<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<%= stylesheet_link_tag "monologue/blog/application" %>
<%= javascript_include_tag "monologue/blog/application" %>
</head>

<div class = "container welcome_container">
<header class = "welcome_header" >
<h1><a href = "http://junzhez.com"><%= image_tag "z_small.png" %>Junzhe Zhang</a></h1>
</header>
<div class = "welcome_content" >I an incoming software engineer in Microsoft. I am interested in various fields in computer science, especially operating system and machine learning. Please feel free to checkout my blogs and follow me on other sites. You can also contact me with <a href = "mailto:junzhez@junzhez.com">junzhez@junzhez.com</a>.</div>
<div>
<div class = "social_wrapper">
<a class="social" href="https://plus.google.com/u/1/110116276375320566363/posts" target="_blank"><i class="foundicon-google-plus"></i></a>
<a class="social" href="https://www.linkedin.com/pub/junzhe-zhang/63/291/2a8" target="_blank"><i class="foundicon-linkedin"></i></a>
<a class="social" href="http://twitter.com/junzhez" target="_blank"><i class="foundicon-twitter"></i></a>
<a class="social" href="http://github.com/junzhez" target="_blank"><i class="foundicon-github"></i></a>
<a class="social" href="http://blog.junzhez.com" target="_blank"><i class="foundicon-blog"></i></a>
</div>
</div>
</div>

<script>
	in_middle();
</script>

